extends layout

block content
  h1= title

  div.d-flex.flex-wrap.gap-3
    each category in categories
        div.card.col-3
            div.card-body
                h5.card-title= category.name
                p.card-text= category.description
                a(class="btn btn-primary" href=category.url) Edit

